@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
#p3 {
  margin: 0;
  background-color: #7F8C8D;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.mac {
  overflow-y: hidden;
  -webkit-animation: mac-intro 200ms forwards 1.5s;
          animation: mac-intro 200ms forwards 1.5s;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 0px #363c3d;
  width: 661.2px;
  box-sizing: border-box;
  background-color: #222;
  border-radius: 16px;
  position: relative;
}
.mac textarea {
  border: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
  font-family: Inconsolata, monospace;
  padding: 24px;
  font-size: 12px;
  line-height: 1.4;
  background-color: #444;
  color: #fff;
  height: 288px;
  width: 100%;
  position: relative;
  opacity: 0.4;
  transition: opacity 200ms;
}
.mac textarea:focus {
  opacity: 1;
}
.mac textarea:focus ~ .no-focus {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.mac .no-focus {
  position: absolute;
  -webkit-animation: glow 1s infinite;
          animation: glow 1s infinite;
  transition: opacity 200ms;
  color: white;
  text-transform: uppercase;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: none;
}

@-webkit-keyframes mac-intro {
  0% {
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 0px #363c3d;
  }
  100% {
    max-height: 364.8px;
    margin: 24px auto 0;
    padding: 38.4px;
    box-shadow: 0px 2px 0px 1px #363c3d;
  }
}

@keyframes mac-intro {
  0% {
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 0px #363c3d;
  }
  100% {
    max-height: 364.8px;
    margin: 24px auto 0;
    padding: 38.4px;
    box-shadow: 0px 2px 0px 1px #363c3d;
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
